[submodule "sample-rust-submission"]
	path = sample-rust-submission
	url = git@github.com:ethanabrooks/sample-rust-submission.git
[submodule "submission"]
	path = submission
	url = git@github.com:ethanabrooks/sample-rust-submission.git
